 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [2]:
# Reading whale returns
whale_returns_csvpath = Path("Resources/whale_returns.csv")
whale_returns_dataframe = pd.read_csv(whale_returns_csvpath, index_col="Date", infer_datetime_format=True, parse_dates=True)
whale_returns_dataframe.sort_index(inplace=True)
whale_returns_dataframe.head(10)

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652
2015-03-10,-0.010263,-0.005341,-0.012079,-0.009739
2015-03-11,0.004012,0.005163,0.003312,-0.001147
2015-03-12,0.008265,0.010272,0.013117,0.010801
2015-03-13,-0.002497,-0.001428,-0.003697,-0.008142

In [3]:
whale_returns_dataframe.describe()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
count,1059.000000,1059.000000,1059.000000,1059.000000
mean,0.000179,-0.000203,-0.000081,0.000501
std,0.007842,0.006977,0.010824,0.012831
min,-0.032711,-0.032099,-0.139820,-0.066505
25%,-0.003594,-0.003961,-0.004746,-0.005515
50%,0.000467,0.000000,0.000232,0.000617
75%,0.004292,0.003567,0.005176,0.007516
max,0.042977,0.029338,0.080705,0.061341

In [4]:
whale_returns_dataframe.dtypes

SOROS FUND MANAGEMENT LLC      float64
PAULSON & CO.INC.              float64
TIGER GLOBAL MANAGEMENT LLC    float64
BERKSHIRE HATHAWAY INC         float64
dtype: object

In [5]:
whale_returns_dataframe.columns

Index(['SOROS FUND MANAGEMENT LLC', 'PAULSON & CO.INC. ',
       'TIGER GLOBAL MANAGEMENT LLC', 'BERKSHIRE HATHAWAY INC'],
      dtype='object')

In [6]:
whale_returns_dataframe.sample(10)

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2018-09-05,-0.006677,-0.001899,0.000307,-0.040847
2018-06-12,0.004978,0.000431,0.002966,0.011773
2018-05-16,0.008637,0.006244,0.005480,0.004310
2019-01-30,0.008519,0.010521,0.001556,0.027242
2015-03-23,-0.000067,-0.000513,-0.000109,0.000591
2015-07-31,-0.002888,-0.001039,-0.001834,-0.000192
2018-08-27,0.005238,0.001996,0.008639,0.019590
2017-10-18,-0.001167,-0.007151,-0.002460,0.004949
2018-03-09,0.008935,0.004583,0.006096,0.020986
2016-11-03,-0.009570,-0.031009,-0.016325,-0.010275

In [7]:
# Count nulls
whale_returns_dataframe.count()

SOROS FUND MANAGEMENT LLC      1059
PAULSON & CO.INC.              1059
TIGER GLOBAL MANAGEMENT LLC    1059
BERKSHIRE HATHAWAY INC         1059
dtype: int64

In [8]:
whale_returns_dataframe["SOROS FUND MANAGEMENT LLC"].value_counts()

 0.000000    39
-0.001266     1
-0.003890     1
 0.005809     1
-0.006967     1
             ..
-0.001219     1
-0.001454     1
 0.000091     1
-0.000178     1
-0.005847     1
Name: SOROS FUND MANAGEMENT LLC, Length: 1021, dtype: int64

In [9]:
# Drop nulls
whale_returns_dataframe.isnull()
whale_returns_dataframe.isnull().mean()*100
whale_returns_dataframe.isnull().sum()
whale_returns_dataframe = whale_returns_dataframe.dropna().copy()
whale_returns_dataframe

whale_returns_dataframe.isnull().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [ ]:
#Drop duplicates

# whale_returns_dataframe.duplicated()
# whale_returns_dataframe = whale_returns_dataframe.drop_duplicates().copy()
# whale_returns_dataframe.count()

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [10]:
# Reading algorithmic returns
algo_returns_csvpath = Path("Resources/algo_returns.csv")
algo_returns_dataframe = pd.read_csv(algo_returns_csvpath, index_col="Date", infer_datetime_format=True, parse_dates=True)
algo_returns_dataframe.sort_index(inplace=True)
algo_returns_dataframe.head()

              Algo 1  Algo 2
Date
2014-05-28  0.001745     NaN
2014-05-29  0.003978     NaN
2014-05-30  0.004464     NaN
2014-06-02  0.005692     NaN
2014-06-03  0.005292     NaN

In [11]:
algo_returns_dataframe.describe(include='all')

            Algo 1       Algo 2
count  1241.000000  1235.000000
mean      0.000667     0.000341
std       0.007972     0.008466
min      -0.030951    -0.036937
25%      -0.003238    -0.003733
50%       0.000135     0.000581
75%       0.003978     0.005194
max       0.098246     0.083734

In [12]:
algo_returns_dataframe.dtypes

Algo 1    float64
Algo 2    float64
dtype: object

In [13]:
# Count nulls
algo_returns_dataframe.count()

Algo 1    1241
Algo 2    1235
dtype: int64

In [14]:
# Drop nulls
algo_returns_dataframe.isnull()
algo_returns_dataframe.isnull().mean()*100
algo_returns_dataframe.isnull().sum()
algo_returns_dataframe = algo_returns_dataframe.dropna().copy()
algo_returns_dataframe

algo_returns_dataframe.isnull().sum()

Algo 1    0
Algo 2    0
dtype: int64

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [15]:
# Reading S&P 500 Closing Prices
sp500_returns_csvpath = Path("Resources/sp500_history.csv")
sp500_returns_dataframe = pd.read_csv(sp500_returns_csvpath, index_col="Date", infer_datetime_format=True, parse_dates=True)
sp500_returns_dataframe.sort_index(inplace=True)
sp500_returns_dataframe.head(25)

               Close
Date
2012-10-01  $1444.49
2012-10-02  $1445.75
2012-10-03  $1450.99
2012-10-04  $1461.40
2012-10-05  $1460.93
2012-10-08  $1455.88
2012-10-09  $1441.48
2012-10-10  $1432.56
2012-10-11  $1432.84
2012-10-12  $1428.59
2012-10-15  $1440.13
2012-10-16  $1454.92
2012-10-17  $1460.91
2012-10-18  $1457.34
2012-10-19  $1433.19
2012-10-22  $1433.82
2012-10-23  $1413.11
2012-10-24  $1408.75
2012-10-25  $1412.97
2012-10-26  $1411.94
2012-10-31  $1412.16
2012-11-01  $1427.59
2012-11-02  $1414.20
2012-11-05  $1417.26
2012-11-06  $1428.39

In [16]:
sp500_returns_dataframe.describe(include="all")

           Close
count       1649
unique      1639
top     $2373.47
freq           2

In [17]:
# Check Data Types
sp500_returns_dataframe.dtypes
sp500_returns_dataframe["Close"]

Date
2012-10-01    $1444.49
2012-10-02    $1445.75
2012-10-03    $1450.99
2012-10-04    $1461.40
2012-10-05    $1460.93
                ...
2019-04-16    $2907.06
2019-04-17    $2900.45
2019-04-18    $2905.03
2019-04-22    $2907.97
2019-04-23    $2933.68
Name: Close, Length: 1649, dtype: object

In [18]:
# Fix Data Types
sp500_returns_dataframe["Close"] = sp500_returns_dataframe["Close"].str.replace("$","")
sp500_returns_dataframe["Close"]
sp500_returns_dataframe["Close"] = sp500_returns_dataframe["Close"].astype("float")
sp500_returns_dataframe.dtypes

/usr/local/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

Close    float64
dtype: object

In [19]:
# Calculate Daily Returns
sp500_returns_dataframe.shape
sp500_returns_dataframe.count()
sp500_returns_dataframe = sp500_returns_dataframe.pct_change()
sp500_returns_dataframe

               Close
Date
2012-10-01       NaN
2012-10-02  0.000872
2012-10-03  0.003624
2012-10-04  0.007174
2012-10-05 -0.000322
...              ...
2019-04-16  0.000509
2019-04-17 -0.002274
2019-04-18  0.001579
2019-04-22  0.001012
2019-04-23  0.008841

[1649 rows x 1 columns]

In [20]:
# Drop nulls
sp500_returns_dataframe.isnull()
sp500_returns_dataframe.isnull().sum()
sp500_returns_dataframe = sp500_returns_dataframe.dropna().copy()
sp500_returns_dataframe.isnull()

            Close
Date
2012-10-02  False
2012-10-03  False
2012-10-04  False
2012-10-05  False
2012-10-08  False
...           ...
2019-04-16  False
2019-04-17  False
2019-04-18  False
2019-04-22  False
2019-04-23  False

[1648 rows x 1 columns]

In [22]:
# Rename `Close` Column to be specific to this portfolio.
sp500_returns_dataframe = sp500_returns_dataframe.rename(columns={"Close":"Sp500_Daily_Returns"})
sp500_returns_dataframe

            Sp500_Daily_Returns
Date
2012-10-02             0.000872
2012-10-03             0.003624
2012-10-04             0.007174
2012-10-05            -0.000322
2012-10-08            -0.003457
...                         ...
2019-04-16             0.000509
2019-04-17            -0.002274
2019-04-18             0.001579
2019-04-22             0.001012
2019-04-23             0.008841

[1648 rows x 1 columns]

## Combine Whale, Algorithmic, and S&P 500 Returns

In [23]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.
portfolio_returns=pd.concat([whale_returns_dataframe,algo_returns_dataframe,sp500_returns_dataframe], axis="columns", join="inner")

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,Sp500_Daily_Returns
Date,,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001942,-0.000949,-0.004539
2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.008589,0.002416,-0.004389
2015-03-05,0.004016,0.004076,0.002355,0.006726,-0.000955,0.004323,0.001196
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.004957,-0.011460,-0.014174
2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.005447,0.001303,0.003944
...,...,...,...,...,...,...,...
2019-04-16,0.002699,0.000388,-0.000831,0.000837,-0.006945,0.002899,0.000509
2019-04-17,-0.002897,-0.006467,-0.004409,0.003222,-0.010301,-0.005228,-0.002274
2019-04-18,0.001448,0.001222,0.000582,0.001916,-0.000588,-0.001229,0.001579
2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088,0.000677,-0.001936,0.001012
2019-04-23,0.007167,0.003485,0.006472,0.013278,0.004969,0.009622,0.008841

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [ ]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [ ]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [ ]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [ ]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [ ]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [ ]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half life for each portfolio, using standard deviation (`std`) as the metric of interest.

In [ ]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [ ]:
# Reading data from 1st stock

In [ ]:
# Reading data from 2nd stock

In [ ]:
# Reading data from 3rd stock

In [ ]:
# Combine all stocks in a single DataFrame

In [ ]:
# Reset Date index

In [ ]:
# Reorganize portfolio data by having a column per symbol

In [ ]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [ ]:
# Join your returns DataFrame to the original returns DataFrame

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [ ]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [ ]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Calculate Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!